window#osd {
    background-color: #18181a; /* Semi-transparent black */
    color: #ffffff; /* White text */
    font-family: "JetBrainsMono Nerd Font", sans-serif;
    font-size: 16px;
    border: 2px solid #3f4044;
    border-radius: 48px;
    padding: 10px;
}
progressbar {
    min-height: 6px;
    border-radius: 999px;
    border: none;
}
