@import url("./colors.css");

* {
    color: @fg;
}

window#waybar {
    color: @fg;
    padding-left: 2px;
    padding-right: 2px;
    background-color: @bg;
    border-bottom: 1px solid @inactive
}

#workspaces button {
    min-width: 12px;
    padding: 0 6px;
    font-size: 12pt;
}

#workspaces button.active {
    color: @fg;
}

#workspaces button:hover {
    background: transparent;
}

#network {
    padding-right: 12px;
    font-size: 12.5pt
}

#tray {
   padding-right: 0px;
}

#pulseaudio {
    font-size: 14pt;
    padding-right: 12px;
    padding-left: 4px;
}

#clock {
    padding-left: 4px;
    padding-right: 8px;
}

#battery {
    padding-left: 6px;
}
