@import url("./colors.css");

window#waybar {
    font: 13pt "Inter";
    color: @fg;
    background-color: @bg;
    border-bottom: 1px solid #404040
}

#workspaces button {
    min-width: 12px;
    padding: 0 6px;
    font-size: 12pt;
}

#workspaces button.active {
    color: @fg;
}

#workspaces button.empty {
    color: @inactive;
}

#workspaces button:hover {
    background: transparent;
}

#window {
    color: #6f6f6f;
    padding-left: 2px
}

#tray {
    padding-right: 4px;
    padding-left: 4px;
    background-color: #404040
}

#network {
    padding-right: 16px;
}

#pulseaudio {
    font-size: 14pt;
    padding-right: 14px;
}

#battery {
    padding-right: 5px;
}
