@import url("https://scattagain.github.io/VencordStuff/css/GuildbarRevert.css");

:root {
    --guildbar-avatar-size: 48px;
    --blob-scale: 48;
    --guildbar-folder-size: var(--guildbar-avatar-size);
    --folder-blob-scale: var(--blob-scale);
}

.visual-refresh section.panels_c48ade {
  left: calc(var(--custom-guild-list-width) + var(--space-xs));
  width: calc(100% - var(--custom-guild-list-width) - var(--space-xs)*2);
  box-sizing: border-box;

  .actionButtons_e131a9 button {
    padding: 0;
  }
  /* GameActivityToggle Fix (delete if you don't use) */
  .container__37e49 {
    padding: var(--space-xxs);
    gap: var(--space-4);
    >.buttons__37e49 {
      gap: 0;
    }
    >.avatarWrapper__37e49 {
      min-width: 32px !important;
      >.avatar__37e49 {
        scale: 0.9;
      }
    }
  }
}
nav.guilds_c48ade {
  margin-bottom: 0 !important;
}
.sidebar_c48ade:after {
  display: none;
}

/* BetterFolders fix (delete if you don't use) */
.visual-refresh [style$="grid-area: betterFoldersSidebar;"]~section.panels_c48ade {
  left: calc(var(--custom-guild-list-width)*2  + var(--space-xs));
  width: calc(100% - var(--custom-guild-list-width)*2 - var(--space-xs)*2 ) !important;
}

.visual-refresh nav[class*=guilds_] {
  margin-bottom: unset;
}

.button_f7ecac.hoverBarButton_f84418:nth-of-type(1),
.button_f7ecac.hoverBarButton_f84418:nth-of-type(2),
.button_f7ecac.hoverBarButton_f84418:nth-of-type(3),
.separator_f84418 {
   display: none;
}

/* Hide nameplates */
[style^="background: linear-gradient(90deg"]:has([src*="/nameplates/"]) { display: none; }
[class*="dm_"]:has([class*="linkPlated_"]) {
    & [class*="linkPlated_"] { padding-right: var(--space-16); }
    & [class*="closeButtonPlated_"] {
        opacity: 0.7;
        &:hover { opacity: 1; }
        & [class^="innerCloseButtonPlated"] {
            opacity: unset; 
            background: none;
            & svg {
                color: inherit;
                &:is(:hover, :focus-within) { color: var(--interactive-hover); }
            }
        }
    }
}
